.populerProject {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  height: auto;

  .mobileTitle {
    display: block;
  }

  .subDetay {
    width: 100%;
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;

    .adres {
      font-size: 1rem;
    }

    .imgContainer {
      width: 40%;
      height: 500px;
      border-radius: 15px;

      .first {
        display: block;
      }

      .seccond {
        display: none;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .textContainer {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 30px;
      padding-bottom: 30px;

      h1 {
        font-size: 2rem;
      }

      .adres {
        font-size: 1rem;
        margin-bottom: 0;
      }

      p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0px;
        text-decoration: none;
        font-size: 0.9rem;
      }

      a {
        font-size: 0.9rem;
        padding: 12px 15px;
        color: whitesmoke;
        background-color: black;
        border-radius: 8px;
      }
    }
  }

  /* Responsive düzenlemeler */
  @media (max-width: 768px) {
    flex-direction: column;

    .mobileTitle {
      display: block;
    }

    .subDetay {
      flex-direction: column;
      align-items: start;

      .adres {
        font-size: 1.25rem; // Daha dengeli görünüm
      }

      .imgContainer {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;

        .first {
          display: none;
        }

        .seccond {
          display: block;
        }
      }

      .textContainer {
        width: 100%;

        h1 {
          font-size: 1.5rem; // Desktop: 2rem → Tablet: 1.5rem
        }

        .adres {
          font-size: 1.25rem;
          margin-bottom: -1.5rem;
        }

        p {
          font-size: 0.8rem; // Desktop: 0.9rem → Tablet: 0.8rem
        }

        a {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .subDetay {
      .adres {
        font-size: 1rem; // Daha küçük, mobil ekran için
      }

      .textContainer {
        h1 {
          font-size: 1.2rem;
        }

        .adres {
          font-size: 1rem;
        }

        p {
          font-size: 0.75rem;
        }

        a {
          font-size: 0.75rem;
          padding: 10px 12px;
        }
      }
    }
  }

  @media (min-width: 769px) {
    .mobileTitle {
      display: none;
    }
  }
}
