.referansCard {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;

  .desen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/des.svg"); // örnek mavi desen
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top right;
    opacity: 0.2;
    z-index: 0;
  }

  .img {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    overflow: hidden;
    img {
      width: 100%;
      aspect-ratio: 3 / 3;
      object-fit: cover;
      display: block;
      border-radius: 12px;
    }
  }

  .detayCard {
    z-index: 2;
    position: relative;
    margin-top: 1rem;

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      color: #222;
      margin: 0;
    }

    h5 {
      font-size: 0.9rem;
      font-weight: 400;
      color: #666;
      margin: 0.4rem 0 0;
    }
  }

  &:hover {
    transform: translateY(-4px);
  }
}
