.loginAdmin {
  margin-top: 140px;
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -6rem;
  padding: 2rem 0rem;

  .cont {
    .loginSection {
      p {
        font-size: 16px;
      }

      width: 100%;
      display: flex;
      gap: 2rem;

      .loginSectionLeft {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
          0 4px 12px rgba(0, 0, 0, 0.08);
        height: 30rem;
        padding: 1.5rem;
        flex: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        border-radius: 10px;

        .title {
          display: flex;
          justify-content: space-between;
          .socialMedia {
            display: flex;
            gap: 1rem;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .abc {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
          .textInput {
            align-items: center;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid gray;
            font-size: 16px;
          }

          .form-agreement {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            font-size: 16px;
            color: #555;
            line-height: 1.4;
            margin: 1rem 0;

            input[type="checkbox"] {
              margin-top: 3px; // hizalama için
            }

            a {
              color: black;
              text-decoration: underline;
              transition: 0.2s ease;

              // &:hover {
              //   color: darken(black, 10%);
              // }
              opacity: 0.7;
            }
          }

          input[type="date"] {
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
            padding: 10px;
            border: 1px solid gray;
            border-radius: 10px;
            font-size: 16px;

            &::-webkit-inner-spin-button,
            &::-webkit-calendar-picker-indicator {
              filter: invert(0.5);
              opacity: 1;
              cursor: pointer;
            }
          }

          .controller {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }

        .btn-card {
          background-color: $primary-color !important;
        }
      }

      .loginSectionRight {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08),
          0 4px 12px rgba(0, 0, 0, 0.08);
        background: linear-gradient(to right, black, #104b73);
        height: 30rem;
        padding: 1.5rem;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        color: whitesmoke;
        border-radius: 10px;

        .title {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: center;
        }
        .button-uyeol {
          border: 1px solid white;
          background-color: transparent;
          color: whitesmoke;
          padding: 12px;
          border-radius: 15px;
        }
      }
    }
  }

  @media (max-width: 900px) {
    height: auto;
    margin-top: 110px;

    .cont {
      .loginSection {
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 3rem;

        .loginSectionRight {
          display: none;
        }
      }
    }
  }
}
