.adminDashboard {
  margin-top: 140px;
  position: relative;

  .container {
    .contentAdminDashboard {
      display: flex;
      gap: 3rem;
      flex: 10;
      padding-top: 3rem;
      transition: all 0.3s ease;

      .sidebar {
        padding: 0rem 1rem 1rem 0rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex: 2;
        transition: all 0.3s ease;
        background-color: white;
        z-index: 3;

        .categories {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          ul {
            font-size: 0.875rem;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            li {
              a,
              button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                cursor: pointer;
                width: 100%;
                background: none;
                border: none;

                &:hover {
                  background-color: rgb(215, 215, 215) !important;
                }

                span {
                  font-style: none;
                  font-size: 0.87rem;
                  color: black;
                }
              }
            }
          }
        }
      }

      .projeList {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 8;
      }
    }
  }

  // Mobile styles
  @media (max-width: 768px) {
    .container {
      .contentAdminDashboard {
        .sidebar {
          display: none;
        }
      }
    }
  }
}
