.orders-container {
  padding: 20px;

  .tabs {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;

    .tab {
      padding: 10px 15px;
      cursor: pointer;
      font-weight: 500;
      position: relative;

      &.active {
        color: black;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 3px;
          background-color: black;
        }
      }
    }
  }

  .custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.85rem;

    th,
    td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // Sütun genişlikleri
    thead {
      tr {
        th {
          &.col-2 {
            width: 33.33%;
          } // 2 birimlik kolon
          &.col-1 {
            width: 16.66%;
          } // 1 birimlik kolon
        }
      }
    }

    // Body için aynı oranlar
    tbody {
      tr {
        td:nth-child(1) {
          width: 33.33%;
        } // Öğrenci Ad Soyad
        td:nth-child(n + 2) {
          width: 16.66%;
        } // Diğer sütunlar
      }
    }

    th {
      background-color: #f9f9f9;
      font-weight: bold;
    }

    .editTd {
      text-align: end;
      .buttonsContent {
        display: flex;
        .download-btn {
          width: 100%;
          display: flex;
          background-color: transparent;
          cursor: pointer;
          justify-content: end;

          .icon {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
