.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 140px;
  transition: transform 0.3s ease-in-out;

  &.hide {
    transform: translateY(-100%);
  }

  .headerTop {
    height: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, black, #104b73);

    .container {
      .headerTopWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          color: whitesmoke;
          font-size: 0.85rem;
        }

        .iconss {
          display: flex;
          gap: 1.5rem;
          align-items: center;

          .icon {
            color: whitesmoke;
            font-size: 1.25rem;
          }

          .cizgili {
            border-right: 1px solid whitesmoke;
            padding-right: 1.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }
    }
  }

  .headerBottom {
    height: 90px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: relative;

    .hamburger {
      display: none;
      font-size: 2rem;
      cursor: pointer;
    }

    .headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        padding-top: 5px;
        height: 50px;
        width: auto;

        img {
          width: auto;
          height: 100%;
        }
      }

      .desktopMenu {
        display: flex;

        nav {
          ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              a {
                color: black;
                text-decoration: none;
                font-weight: 500;
                transition: all 0.3s ease;

                &:hover {
                  color: #ada36a;
                  border-bottom: 1px solid #ada36a;
                }
              }
            }
          }
        }

        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }

  @media (max-width: 900px) {
    height: 110px;

    #profilBtt {
      display: none;
    }

    .none {
      display: none;
    }

    .headerBottom {
      height: 60px;

      .headerWrapper {
        .logo {
          height: 38px;
        }
      }

      .hamburger {
        display: block;
      }
    }
  }
}

// YAN MENÜ
.sideMenu {
  position: fixed;
  top: 0px;
  left: -100%;
  width: 45%;
  height: 100%;
  background: linear-gradient(to right, black, #104b73);
  color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: left 0.3s ease-in-out;

  &.open {
    left: 0;
  }

  .sideMenuLogo {
    margin: 2rem 3rem 0rem 3rem;
    text-align: center;

    img {
      width: 100%;
      max-height: 300px;
      aspect-ratio: 1/1;
    }
  }

  .sideMenuContent {
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    padding: 2rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    nav {
      width: 100%;
      height: 100%;
      ul {
        li {
          width: 100%;
          position: relative;
          margin-bottom: 1.5rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;

          a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            transition: all 0.3s ease;
            padding-bottom: 0.3rem;
            display: inline-block;
            border-bottom: 1px solid transparent;

            &:hover {
              color: #ffd700;
              border-bottom: 1px solid #ffd700;
              transform: translateX(4px);
            }
          }
        }

        li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-bottom: 1rem;
        }
      }
    }
  }

  .sideMenuContent::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .sideMenuContent nav ul {
    .submenuToggleLi {
      padding-right: 0;

      width: 100%;
      position: relative;
      margin-bottom: 1.5rem;

      .submenuToggle {
        margin-left: 0;
        padding-left: 0;
        cursor: pointer;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 0;
        transition: color 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &:hover {
          color: #ffd700;
        }
      }

      .submenu {
        list-style: none;
        padding-top: 1.5rem;

        li {
          a {
            color: white;
            font-size: 0.95rem;

            &:hover {
              color: #ffd700;
            }
          }

          button {
            background-color: transparent;
            color: white;
            font-size: 0.9rem;

            &:hover {
              color: #ffd700;
            }
          }
        }
      }
    }
  }

  .sideMenuFooter {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, black, #104b73);

    button,
    a {
      padding: 0.5rem 1.2rem;
      font-size: 0.95rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .register {
      background-color: transparent;
      color: whitesmoke;
      border: 1px solid whitesmoke;
    }

    .login {
      background-color: transparent;
      color: black;
      background-color: #dacb1f;
    }
  }

  @media (max-width: 600px) {
    width: 70%;
  }
}
