.sifreDegistir {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  hr {
    margin-bottom: 1.5rem;
  }

  .bars {
    // width: 100%;
    .topSide {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .takvim {
        width: 100%;
        margin: auto;
        font-family: sans-serif;
        overflow-x: auto;

        &::-webkit-scrollbar {
          height: 6px; // yatay scrollbar yüksekliği
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #bbb;
          border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #999;
        }

        .headerTakvim {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          font-weight: bold;
          width: 100%;

          .gun {
            text-align: center;
            padding: 10px;
            border: 1px solid #ddd;
            background: #f0f0f0;
            min-width: 100px;
            width: 100%;
          }
        }

        .grid {
          display: grid;
          grid-template-columns: repeat(7, 1fr);

          .gun-kutu {
            border: 1px solid #ddd;
            min-height: 100px;
            padding: 5px;
            position: relative;
            min-width: 100px;
            width: 100%;

            &.pasif {
              background-color: #f9f9f9;
              color: #ccc;
            }

            &.aktif {
              background-color: #fff;

              .tarih {
                font-weight: bold;
                font-size: 14px;
              }

              .seanslar {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .seans {
                  background: #e8f5e9;
                  padding: 3px 5px;
                  margin-bottom: 3px;
                  font-size: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                }

                .katilimYok {
                  background: #f5e8e8;
                }
              }
            }
          }
        }
      }

      .buttons {
        align-self: flex-end;
        button {
          justify-self: flex-end;
          min-width: 90px;
          background-color: black;
          color: #fff;
          padding: 12px;
          font-size: 0.85rem;
          font-weight: bold;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.2s ease;
        }

        .disabled {
          background-color: lightgray;
          cursor: default;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
